body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
ul,
ol {
  list-style-type: none;
}
h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
a {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.33;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.accent {
  color: #4d5ae5;
}
