.header {
  border-bottom: 1px solid #2e2f42;
}
.header .logo {
  color: #2e2f42;
}
.nav-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.nav-list a:hover,
.nav-list a:focus {
  color: #404bbf;
}
.contact a {
  color: inherit;
  line-height: 1.5;
  font-style: normal;
}
.contact a:hover,
.contact a:focus {
  color: #404bbf;
}

.header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.header-nav {
  flex-grow: 1;
}
.menu-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contact-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}
