.team {
  background-color: #f4f4fd;
}
.team-title {
  text-align: center;
  color: #2e2f42;
}
.team-list {
  background-color: #ffffff;
}
.team-player {
  text-align: center;
}
.team-role {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
